.classpath
.clj-kondo/.cache
.cpcache
.hg/
.hgignore
.java-version
.lsp/.cache
.nrepl-history
.nrepl-port
.project
.rebel_readline_history
.settings
.socket-repl-port
.idea
*.class
*.jar
*.swp
*~
/checkouts
/classes
/target
/task-flexiana.iml
